In [9]:
import pandas as pd

In [10]:
hankaku_table = str.maketrans({
    '1': '１',
    '2': '２',
    '3': '３',
    '4': '４',
    '5': '５',
    '6': '６',
    '7': '７',
    '8': '８',
    '9': '９',
    '0': '０',
})

zenkaku_table = str.maketrans({
    '１': '1',
    '２': '2',
    '３': '3',
    '４': '4',
    '５': '5',
    '６': '6',
    '７': '7',
    '８': '8',
    '９': '9',
    '０': '0',
})

hankaku_mark_table = str.maketrans({
    '。': '.',
    '、': ',',
})

zenkaku_mark_table = str.maketrans({
    '.': '。',
    ',': '、',
})

In [11]:
word = "１1２2。、.,"

In [12]:
hankaku_result = word.translate(zenkaku_table)
zenkaku_result = word.translate(hankaku_table)
hankaku_mark_result = word.translate(hankaku_mark_table)
zenkaku_mark_result = word.translate(zenkaku_mark_table)

In [13]:
print(word)
print(hankaku_result)
print(zenkaku_result)
print(hankaku_mark_result)
print(zenkaku_mark_result)

１1２2。、.,
1122。、.,
１１２２。、.,
１1２2.,.,
１1２2。、。、

In [14]:
df = pd.DataFrame({'A': ['1１', '２1', '３1', '１１', '11'], 'B': ['12', '22', '32', '45', '85']})
df

    A   B
0  1１  12
1  ２1  22
2  ３1  32
3  １１  45
4  11  85

In [15]:
df["C"] = df["A"].apply(lambda x: x.translate(zenkaku_table))
df["D"] = df["A"].apply(lambda x: x.translate(hankaku_table))

In [16]:
df

    A   B   C   D
0  1１  12  11  １１
1  ２1  22  21  ２１
2  ３1  32  31  ３１
3  １１  45  11  １１
4  11  85  11  １１